---
layout: default
---

<div class="home">

  <!--<div class="green center">-->
    <!--<a href="{{ site.baseurl }}/search" class="button button-big button-with-icon button-outline mb4 h2" style="position:fixed; background:white">-->
      <!--<svg class="js-geomicon geomicon" width="30" data-icon="search" viewBox="0 0 32 32" style="fill:currentcolor"><title>Search</title><path d="M12 0 A12 12 0 0 0 0 12 A12 12 0 0 0 12 24 A12 12 0 0 0 18.5 22.25 L28 32 L32 28 L22.25 18.5 A12 12 0 0 0 24 12 A12 12 0 0 0 12 0 M12 4 A8 8 0 0 1 12 20 A8 8 0 0 1 12 4"></path></svg>-->
       <!--Search</a>-->
    <!--</div>-->

  <!--<div class="orange center">-->
    <!--<a href="{{ site.baseurl }}/tags" class="button button-big button-with-icon button-outline mb4 h2" style="position:fixed; background:white">-->
      <!--<svg class="js-geomicon geomicon" width="30" data-icon="search" viewBox="0 0 32 32" style="fill:currentcolor"><title>Tags</title><path d="M0 18 L16 2 L29 3 L30 16 L14 32 z M20 9 A3 3 0 0 0 26 9 A3 3 0 0 0 20 9"></path></svg>-->
       <!--Tags</a>-->
    <!--</div>-->

  <div class="recipes xs-px1 xs-mt2">
    <div class="clearfix">
    {% assign sorted = site.recipes | sort:"date" %}
    {% for post in sorted %}

      <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
          <a class="block relative bg-blue" href="{{ post.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/{{ image }});"{% endfor %}></div>
            <h1 class="title shadow-black p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
          </a>
      </div>
    {% endfor %}
    <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
      <a class="block relative bg-blue" href="new.html">
        <div class="image ratio bg-cover" style="background-image:url({{site.baseurl}}/assets/new.png);"></div>
      </a>
  </div>
  </div>
  </div>

  <div class="container mt4 mb4">
    <div class="sm-col-6 mx-auto px3 sm-px4"></div>
  </div>

</div>
